SourceCG/
SourceReal/
Database/
weights/
BestWeights/
EnhancedDB/
PatchedEnhancedDB/
PNGDatabase/
PatchedPNGDatabase/
summaries/
WrongImages/
PatchedDatabase/
data/train
data/test
data/validation
data/weights
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
PatchedRawrDatabase/