SourceCG/
SourceReal/
Database/
weights/
summaries/
PatchedDatabase/
data/train
data/test
data/validation
data/weights
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
RawrDatabase/
PatchedRawrDatabase/